# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Data/word2vec_twitter_50.txt
Data/glove.twitter.27B.50d.txt
Data/glove.twitter.27B.zip
Data/word2vec_twitter.txt
Data/glove.twitter.27B.25d.txt
Data/glove.twitter.27B.200d.txt
Data/glove.twitter.27B.100d.txt
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
.idea/ToxicCommentsClassifier.iml
.idea/vcs.xml
*.pyc
